*.o
*.pb.cc
*.pb.h
protoc-gen-php

# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/.deps
/install-sh
/missing
/stamp-h1

